## {{npmName}}@{{npmVersion}}

This generator creates TypeScript/JavaScript client that utilizes [Fetch API](https://fetch.spec.whatwg.org/). The generated Node module can be used in the following environments:

Environment
* Node.js
* Webpack
* Browserify

Language level
* ES5 - you must have a Promises/A+ library installed
* ES6

Module system
* CommonJS
* ES6 module system

It can be used in both TypeScript and JavaScript. In TypeScript, the definition will be automatically resolved via `package.json`. ([Reference](https://www.typescriptlang.org/docs/handbook/declaration-files/consumption.html))

### Building

To build and compile the typescript sources to javascript use:
```
npm install
npm run build
```

### Publishing

To generate a new version of the Upsun SDK Node and automatically publish it on https://npmjs.org

1. update your local
```bash
git fetch
git checkout main
git pull
```
2. check existing tags on https://github.com/upsun/upsun-sdk-node/tags
3. Update `package.json` version to the new release version (highest version + 1)
4. update `package-lock.json` using: 
```bash
npm install
git add package.json package-lock.json
git commit -m "bump release version to v<x.y.z>"
git push
```
5. create a new tag from your local
```bash
git tag v<x.y.z>
git push --tag
```
6. Go on release page: https://github.com/upsun/upsun-sdk-node/releases
7. create a new release based on the previously created tag (Do not forget to autogenerate description in the form)
8. check publishing action status: https://github.com/upsun/upsun-sdk-node/actions 
9. check new release version on https://www.npmjs.com/package/upsun-sdk-node 


### Consuming

navigate to the folder of your consuming project and run one of the following commands.

_published:_

```
npm install {{npmName}}@{{npmVersion}} --save
```

_unPublished (not recommended):_

```
npm install PATH_TO_GENERATED_PACKAGE --save
```
